@import '../../../styles/utils';

.checkbox-input {
  display:none;
  + .checkbox-mark {
    display: flex;width: $checkboxSize;height: $checkboxSize;background-color: $uncheckedBG;cursor:pointer;
    border-radius:50%;color: white;box-sizing: border-box;position: relative;justify-content: center;
  }
}

.checkbox-input:checked {
  + .checkbox-mark {background-color: $checkedBG;
    &::before {content: 'v';line-height: $checkboxSize;font-family:Baloo; font-size: $checkboxSize;color:#ffffff;} /* todo 체크 이미지로 바꾸기 */
  }
}

.button-wrap { position:relative;width: 100%;padding:8px 0;border-radius: 24px;background-color: $buttonBG; outline:none;}
.button-txt {font-family: Baloo;font-size: 20px;font-weight: normal;font-style: normal;font-stretch: normal;
  line-height: normal;letter-spacing: normal;text-align: center;color: #ffffff;
}

.input-wrap {
  width:100%;
}
.input-text {
  position: relative;width: 100%;line-height: 32px;border-radius: 24px;background-color: rgba(255, 255, 255, 0.1);
  color: white;font-size: 16px;padding: 8px 16px;box-sizing: border-box;cursor:text;
  @include placeholder {
    opacity:0.3; color: #ffffff;
  }
}

.entry-input { margin-top: 12px;}
.login-button { margin-top: 36px;}
.sign-checkbox-label { position:relative; top:6px;}
