@import '../../../styles/utils';

.emoji-box { display: flex; flex-direction: column; align-items: center; padding-top: 24px;
  width: 432px; height: 664px; border-radius: 10px; background-color: rgba(255, 255, 255, 0.12);}
